﻿@using Exploring.Controllers
@using PagedList
@using PagedList.Mvc

@model DataViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm("PostAction", "Home", FormMethod.Post, null))
{
    <div>
        @Html.TextBoxFor(p => p.number)
        <input type="submit" id="btnSubmit" value="Submit" />
    </div>
}

@if (Model != null)
{
    <div>
        <ul>
            @foreach (int number in Model.PagedList)
            {
                <li>
                    <p>@number</p>
                </li>
            }
        </ul>
    </div>

@Html.PagedListPager( Model.PagedList, page => Url.Action("PostAction", new { page }) )
}